/filterbankers/
/Iterations/
/truncation/
/Report/images/
/Report/audio_visual_report.aux
/Report/audio_visual_report.bbl

/Report/audio_visual_report

/Report/audio_visual_report.out

/Report/audio_visual_report.synctex.gz
/Report/audio_visual_report

/Report/audio_visual_report.toc

/Report/avp_bib.bib

/Report/IEEEtran